.imagen{
	
	width: 132px;
	height: 100px;
	background: #181511;
	margin: 5px;
	padding: 5px;
	border: 1px solid #999;
	cursor: pointer;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	z-index: 2;
	
 
}

